<div class="row panel root-panel">
    <div class="row">
        <div class="large-6 small-12 columns">
            <div class="radius">
                <label>
                    {{ 'MAP_MARKER' | translate }}:<small class="required-text">{{ 'REQUIRED' | translate }}</small>
                    <div id="add_map_canvas" class="preview-map"></div>
                </label>
            </div>
        </div>
        <div class="large-6 small-12 columns">
            <div class="row">
                <label> {{ 'SELECT_PHOTO' | translate }}:<small class="required-text">{{ 'REQUIRED' | translate }}</small></label>
                <div class="small-12 columns" ng-show="!isPC()">
                    <img id="image" ng-src="img/icons/no-image.png" src="" class="info-img" />
                    <ul class="button-group even-2">
                        <li><a id="capturePhoto" href="" class="button success"> {{ 'CAMERA' | translate }} </a></li>
                        <li><a id="openPhoto" href="" class="button success"> {{ 'LIBRARY' | translate }} </a></li>
                    </ul>
                </div>
                <div class="small-12 columns" ng-show="isPC()">
                    <div class="fileUpload th radius">
                        <img id="imageFromPC" ng-src="img/icons/no-image.png" src="" class="info-img" />
                        <input id="uploadInput" type="file" class="upload" accept="image/jpeg,image/png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                {{ 'TITLE' | translate }}({{ 'CHARACTERS_LEFT' | translate }}: {{maxLengthTitle-place.info.description.short.length}}) <small class="required-text">{{ 'REQUIRED' | translate }}</small>
                <input id="title" name="title" type="text" maxlength="{{maxLengthTitle}}" placeholder="{{ 'PLACEHOLDER_TITLE' | translate }}" ng-model="place.info.title" />
            </label>

        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                {{ 'SHORT_DESCRIPTION' | translate }}({{ 'CHARACTERS_LEFT' | translate }}: {{maxLengthDesc-place.info.description.short.length}}) <small class="required-text">{{ 'REQUIRED' | translate }}</small>
                <input id="short_desc" name="short_desc" type="text" maxlength="{{maxLengthDesc}}" placeholder="{{ 'PLACEHOLDER_SHORT' | translate }}" ng-model="place.info.description.short" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                {{ 'CATEGORY' | translate }} <small class="required-text">{{ 'REQUIRED' | translate }}</small>
                <select id="category" name="category" ng-model="place.category">
                    <option value="">{{ 'SELECT_CATEGORY' | translate }}</option>
                    <option ng-repeat="category in categories" value="{{category[0]}}">{{category[1]}}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>{{ 'LONG_DESCRIPTION' | translate }} <small class="required-text">{{ 'REQUIRED' | translate }}</small>
                <textarea id="long_desc" name="long_desc" placeholder="{{ 'PLACEHOLDER_LONG' | translate }}" rows="6" ng-model="place.info.description.long"></textarea>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div id="progressModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="small-6 columns text-center">
                        <h3>{{ 'UPLOADING_PHOTO' | translate }}</h3>
                    </div>
                    <div class="small-6 columns text-center">
                        <h3><div id="photoStatus" class="info label big">{{ 'STATUS_WAIT' | translate }}</div></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns text-center">
                        <h3>{{ 'ADDING_PLACE' | translate }}</h3>
                    </div>
                    <div class="small-6 columns text-center">
                        <h3><div id="placeStatus" class="info label big">{{ 'STATUS_WAIT' | translate }}</div></h3>
                    </div>
                </div>
                <hr>
                <div id="spinner" class="spinner" ></div>
                <a id="goBackButton" class="button success expand hide" href="#home" > {{ 'BUTTON_GO_BACK' | translate }} </a>
            </div>
            <button data-reveal-id="progressModal" id="addPlace" class="expand" ng-disabled="!(place.info.title && place.info.description.short && place.category && place.info.description.long && placed && photo)">{{ 'BUTTON_SUBMIT' | translate }}</button>
        </div>
    </div>
</div>