<div class="row panel">
    <div class="row">
        <div class="small-6 columns">
            <h2>{{ 'CHANGE_LANGUAGE' | translate }}:</h2>
            <a href="" ng-click="language='ru'" ><img src="../www/img/icons/Russia.png"></a>
            <a href="" ng-click="language='en'" ><img src="../www/img/icons/United-Kingdom.png"></a>
        </div>
        <div class="small-6 columns">
            <h2>{{ 'CHANGE_MAP' | translate }}:</h2>
            <a href="" ng-click="map='google'" ><img src="../www/img/icons/United-Kingdom.png"></a>
            <a href="" ng-click="map='yandex'" ><img src="../www/img/icons/Russia.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <button ng-click="applySettings()">apply</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="small-12 columns">
            <h2>{{ 'ABOUT_APP' | translate }}:</h2>
            <p>{{ 'APP_DESCRIPTION' | translate }}</p>
            <p>{{ 'APP_FEATURES' | translate }}</p>
            <ul>
                <li>Android</li>
                <li>Bada</li>
                <li>BlackBerry</li>
                <li>iOS</li>
                <li>Symbian</li>
                <li>webOS</li>
                <li>Windows Phone</li>
            </ul>
        </div>
    </div>
</div>