<div id="settings" class="row panel">
    <div class="row">
        <div class="small-6 columns">
            <h2>{{ 'CHANGE_LANGUAGE' | translate }}:</h2>
            <div style="height: 75px">
                <a id="ru" href="" ng-click="selectLanguage('ru')" ><img src="../www/img/icons/Russia.png"></a>
                <a id="en" href="" ng-click="selectLanguage('en')" ><img src="../www/img/icons/United-Kingdom.png"></a>
            </div>
        </div>
        <div class="small-6 columns">
            <h2>{{ 'CHANGE_MAP' | translate }}:</h2>
            <div style="height: 75px">
                <a id="google" href="" ng-click="selectMap('google')" ><img src="../www/img/icons/gmaps-logo.png"></a>
                <a id="yandex" href="" ng-click="selectMap('yandex')" ><img src="../www/img/icons/ymaps-logo.png"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns small-centered">
            <button id="save" ng-click="saveSettings()">{{ 'BUTTON_SAVE_CHANGES' | translate }}</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="small-12 columns">
            <h2>{{ 'ABOUT_APP' | translate }}:</h2>
            <p>{{ 'APP_DESCRIPTION' | translate }}</p>
            <p>{{ 'APP_FEATURES' | translate }}</p>
            <ul>
                <li>Android</li>
                <li>Bada</li>
                <li>BlackBerry</li>
                <li>iOS</li>
                <li>Symbian</li>
                <li>webOS</li>
                <li>Windows Phone</li>
            </ul>
        </div>
    </div>
</div>